<table>
  <tr>
    <th>Titre</th>
    <th>Media</th>
    <th>IN/OFF</th>
    <th>Descriptif</th>
    <th>Source</th>
  </tr>
  {{#each archives as |archive|}}
    {{archive-line archive=archive delete-archive=(action 'delete' archive) }}
  {{/each}}
</table>


<button type="button" class="button" {{action 'add'}}>Ajouter</button>

