<h1>Episodes</h1>
<ul>
  {{#each model as |episode|}}
    <li>{{#link-to "episodes.show" episode.id}}{{episode.title}}{{/link-to}}</li>
  {{/each}}
</ul>

<button {{action 'add'}}>Nouvel épisode</button>

