<h1>{{model.title}}</h1>

{{#each model.subjects as |subject|}}
  {{episode-subject subject=subject}}
{{/each}}
<button type="button" class="button" {{action 'addSubject' model}}>Ajouter un sujet</button>

